@charset "UTF-8";
/* Default style config */
body {
    --text-color: 27, 27, 27;
    --body-bg-color: 242, 242, 247;
    --header-bg-color: 255, 255, 255;
    --header-shadow-color: 5, 110, 183;
    --section-bg-color: 255, 255, 255;
    --footer-bg-color: 5, 110, 183;
    --current-text-color: 255, 255, 255;
    --warning-bg-color: 255, 255, 0;
    --error-bg-color: 255, 0, 0;
    --close-btn-bg-color: 255, 0, 0;
    --close-btn-text-color: 255, 255, 255;
    --pager-bg-color: 255, 255, 255;
    --pager-text-color: 27, 27, 27;
    --pager-item-bg-color: 223, 241, 255;
    --pager-current-bg-color: 5, 110, 183;
    --pager-current-text-color: 255, 255, 255;
    --component-border-color: 5, 110, 183;
    --component-checked-color: 255, 255, 255;
    --component-bg-color: 223, 241, 255;
    --component-switch-btn-color: 255, 255, 255;
    --component-switch-shadow-color: 129, 185, 255;
    --input-border-color: 129, 185, 255;
    --btn-bg-color: 223, 241, 255;
    --btn-shadow-color: 27, 27, 27;
    --btn-hover-bg-color: 5, 110, 183;
    --btn-hover-text-color: 255, 255, 255;
    --banner-hover-color: 255, 255, 255;
    --progress-border-color: 129, 185, 255;
    --progress-bg-color: 223, 241, 255;
    --progress-gradient-color: 255, 255, 255;
    --progress-shadow-color: 27, 27, 27;
    --progress-text-color: 5, 110, 183;
    --progress-ring-bg-color: 242, 242, 247;
    --progress-ring-cover-color: 255, 255, 255;
    --tips-text-color: 5, 110, 183;
    --tips-bg-color: 255, 255, 255;
    --calendar-title-text-color: 27, 27, 27;
    --calendar-border-color: 5, 110, 183;
    --calendar-header-bg-color: 5, 110, 183;
    --calendar-header-text-color: 255, 255, 255;
    --calendar-disabled-bg-color: 227, 227, 227;
    --calendar-hover-bg-color: 223, 241, 255;
    --chart-border-color: 0, 0, 0;
    --chart-marker-color: 0, 0, 0;
    --chart-legend-bg-color: 255, 255, 255;
    --grid-statistics-bg-color: 255, 255, 255;
    --grid-statistics-shadow-color: 5, 110, 183;
    --grid-warning-text-color: 27, 27, 27;
    --grid-error-text-color: 255, 255, 255;
    --grid-bg-color: 255, 255, 255;
    --grid-record-border-color: 129, 185, 255;
    --grid-record-shadow-color: 129, 185, 255;
    --grid-record-score-color: 27, 27, 27;
    --grid-record-operator-bg-color: 227, 227, 227;
    --grid-record-operator-text-color: 27, 27, 27;
    --grid-record-operator-hover-bg-color: 5, 110, 183;
    --grid-record-operator-hover-text-color: 255, 255, 255;
    --grid-btn-bg-color: 223, 241, 255;
    --grid-btn-text-color: 5, 110, 183;
    --grid-btn-current-bg-color: 5, 110, 183;
    --grid-btn-current-text-color: 255, 255, 255;
    --grid-header-bg-color: 5, 110, 183;
    --grid-header-text-color: 255, 255, 255;
    --grid-select-all-bg-color: 255, 255, 255;
    --grid-select-all-checked-bg-color: 5, 110, 183;
    --grid-select-all-checked-text-color: 255, 255, 255;
    --grid-pager-bg-color: 255, 255, 255;
    --form-bg-color: 255, 255, 255;
    --form-component-border-color: 129, 185, 255;
    --form-component-mock-hover-bg-color: 5, 110, 183;
    --form-component-mock-hover-text-color: 255, 255, 255;
    --form-component-error-text-color: 255, 0, 0;
    --form-component-draw-color: 129, 185, 255;
    --form-component-draw-preview-remove-btn-bg-color: 255, 0, 0;
    --form-component-draw-preview-remove-btn-text-color: 255, 255, 255;
    --form-btn-bg-color: 5, 110, 183;
    --form-btn-text-color: 255, 255, 255;
    --form-btn-disabled-bg-color: 227, 227, 227;
    --form-btn-disabled-text-color: 27, 27, 27;
    --menu-text-color: 27, 27, 27;
    --menu-hover-bg-color: 5, 110, 183;
    --menu-hover-text-color: 255, 255, 255;
    --menu-item-bg-color: 5, 110, 183;
    --menu-item-text-color: 255, 255, 255;
    --menu-item-hover-bg-color: 223, 241, 255;
    --menu-item-hover-text-color: 27, 27, 27;
    --menu-category-bg-color: 255, 255, 255;
    --menu-category-title-bg-color: 5, 110, 183;
    --menu-category-item-text-color: 27, 27, 27;
    --social-group-bg-color: ;
    --social-group-text-color: 5, 110, 183;
    --details-bg-color: 255, 255, 255;
    --details-title-border-color: 129, 185, 255;
    --details-summary-color: 128, 128, 128;
    --details-attaches-item-hover-bg-color: 5, 110, 183;
    --details-attaches-item-hover-text-color: 255, 255, 255;
    --details-accessories-link-bg-color: 255, 255, 255;
    --slides-sort-item-color: 255, 255, 255;
    --slides-sort-item-current-color: 5, 110, 183;
    --slides-title-bg-color: 220, 238, 249;
    --slides-title-text-color: 27, 27, 27;
    --disabled-bg-color: 227, 227, 227;
    --window-bg-color: 255, 255, 255;
    --dialog-btn-bg-color: 223, 241, 255;
    --dialog-btn-hover-bg-color: 5, 110, 183;
    --dialog-btn-hover-text-color: 255, 255, 255;
    --notify-border-color: 223, 241, 255;
    --notify-shadow-color: 129, 185, 255;
    --notify-hover-bg-color: 5, 110, 183;
    --notify-hover-border-color: 5, 110, 183;
    --notify-hover-text-color: 255, 255, 255;
    --notify-icon-bg-color: 223, 241, 255;
    --notify-icon-text-color: 5, 110, 183;
    --notify-bg-color: 242, 242, 247;
    --notify-float-bg-color: 5, 110, 183;
    --notify-item-bg-color: 255, 255, 255;
    --notify-item-border-color: 129, 185, 255;
    --notify-item-shadow-color: 129, 185, 255;
    --notify-item-text-color: 27, 27, 27;
}

body.dark {
    --text-color: 227, 227, 227;
    --body-bg-color: 27, 27, 27;
    --header-bg-color: 96, 96, 96;
    --header-shadow-color: 27, 27, 27;
    --section-bg-color: 96, 96, 96;
    --footer-bg-color: 96, 96, 96;
    --current-text-color: 255, 255, 255;
    --warning-bg-color: 255, 255, 0;
    --error-bg-color: 255, 0, 0;
    --close-btn-bg-color: 255, 0, 0;
    --close-btn-text-color: 255, 255, 255;
    --pager-bg-color: 5, 110, 183;
    --pager-text-color: 27, 27, 27;
    --pager-item-bg-color: 54, 54, 54;
    --pager-current-bg-color: 192, 192, 192;
    --pager-current-text-color: 0, 0, 0;
    --component-border-color: 54, 54, 54;
    --component-checked-color: 255, 255, 255;
    --component-bg-color: 128, 128, 128;
    --component-switch-btn-color: 255, 255, 255;
    --component-switch-shadow-color: 129, 185, 255;
    --input-border-color: 54, 54, 54;
    --btn-bg-color: 54, 54, 54;
    --btn-shadow-color: 27, 27, 27;
    --btn-hover-bg-color: 64, 64, 64;
    --btn-hover-text-color: 255, 255, 255;
    --banner-hover-color: 27, 27, 27;
    --progress-border-color: 54, 54, 54;
    --progress-bg-color: 27, 27, 27;
    --progress-gradient-color: 255, 255, 255;
    --progress-shadow-color: 27, 27, 27;
    --progress-text-color: 227, 227, 227;
    --progress-ring-bg-color: 54, 54, 54;
    --progress-ring-cover-color: 96, 96, 96;
    --tips-text-color: 27, 27, 27;
    --tips-bg-color: 255, 255, 255;
    --calendar-title-text-color: 192, 192, 192;
    --calendar-border-color: 54, 54, 54;
    --calendar-header-bg-color: 54, 54, 54;
    --calendar-header-text-color: 255, 255, 255;
    --calendar-disabled-bg-color: 27, 27, 27;
    --calendar-hover-bg-color: 64, 64, 64;
    --chart-border-color: 0, 0, 0;
    --chart-marker-color: 0, 0, 0;
    --chart-legend-bg-color: 255, 255, 255;
    --grid-statistics-bg-color: 54, 54, 54;
    --grid-statistics-shadow-color: 27, 27, 27;
    --grid-warning-text-color: 27, 27, 27;
    --grid-error-text-color: 255, 255, 255;
    --grid-bg-color: 96, 96, 96;
    --grid-record-border-color: 54, 54, 54;
    --grid-record-shadow-color: 54, 54, 54;
    --grid-record-score-color: ;
    --grid-record-operator-bg-color: 227, 227, 227;
    --grid-record-operator-text-color: 27, 27, 27;
    --grid-record-operator-hover-bg-color: 64, 64, 64;
    --grid-record-operator-hover-text-color: 255, 255, 255;
    --grid-btn-bg-color: 54, 54, 54;
    --grid-btn-text-color: 255, 255, 255;
    --grid-btn-current-bg-color: 192, 192, 192;
    --grid-btn-current-text-color: 0, 0, 0;
    --grid-header-bg-color: 54, 54, 54;
    --grid-header-text-color: 255, 255, 255;
    --grid-select-all-bg-color: 192, 192, 192;
    --grid-select-all-checked-bg-color: 54, 54, 54;
    --grid-select-all-checked-text-color: 255, 255, 255;
    --grid-pager-bg-color: 255, 255, 255;
    --form-bg-color: 96, 96, 96;
    --form-component-border-color: 54, 54, 54;
    --form-component-mock-hover-bg-color: 54, 54, 54;
    --form-component-mock-hover-text-color: 255, 255, 255;
    --form-component-error-text-color: 255, 0, 0;
    --form-component-draw-color: 54, 54, 54;
    --form-component-draw-preview-remove-btn-bg-color: 255, 0, 0;
    --form-component-draw-preview-remove-btn-text-color: 255, 255, 255;
    --form-btn-bg-color: 27, 27, 27;
    --form-btn-text-color: 255, 255, 255;
    --form-btn-disabled-bg-color: 227, 227, 227;
    --form-btn-disabled-text-color: 27, 27, 27;
    --menu-text-color: 227, 227, 227;
    --menu-hover-bg-color: 27, 27, 27;
    --menu-hover-text-color: 255, 255, 255;
    --menu-item-bg-color: 27, 27, 27;
    --menu-item-text-color: 192, 192, 192;
    --menu-item-hover-bg-color: 64, 64, 64;
    --menu-item-hover-text-color: 255, 255, 255;
    --menu-category-bg-color: 96, 96, 96;
    --menu-category-title-bg-color: 54, 54, 54;
    --menu-category-item-text-color: 227, 227, 227;
    --social-group-bg-color: ;
    --social-group-text-color: 5, 110, 183;
    --details-bg-color: 96, 96, 96;
    --details-title-border-color: 54, 54, 54;
    --details-summary-color: 192, 192, 192;
    --details-attaches-item-hover-bg-color: 27, 27, 27;
    --details-attaches-item-hover-text-color: 255, 255, 255;
    --details-accessories-link-bg-color: 27, 27, 27;
    --slides-sort-item-color: 255, 255, 255;
    --slides-sort-item-current-color: 5, 110, 183;
    --slides-title-bg-color: 27, 27, 27;
    --slides-title-text-color: 227, 227, 227;
    --disabled-bg-color: 227, 227, 227;
    --window-bg-color: 255, 255, 255;
    --dialog-btn-bg-color: 223, 241, 255;
    --dialog-btn-hover-bg-color: 5, 110, 183;
    --dialog-btn-hover-text-color: 255, 255, 255;
    --notify-border-color: 27, 27, 27;
    --notify-shadow-color: 227, 227, 227;
    --notify-hover-bg-color: 227, 227, 227;
    --notify-hover-border-color: 227, 227, 227;
    --notify-hover-text-color: 0, 0, 0;
    --notify-icon-bg-color: 27, 27, 27;
    --notify-icon-text-color: 227, 227, 227;
    --notify-bg-color: 27, 27, 27;
    --notify-float-bg-color: 27, 27, 27;
    --notify-item-bg-color: 96, 96, 96;
    --notify-item-border-color: 96, 96, 96;
    --notify-item-shadow-color: 129, 185, 255;
    --notify-item-text-color: 227, 227, 227;
}
