@font-face {
  font-family: "iconfont"; /* Project id 3302002 */
  src: url('./iconfont.woff2?t=1651372046520') format('woff2'),
       url('./iconfont.woff?t=1651372046520') format('woff'),
       url('./iconfont.ttf?t=1651372046520') format('truetype');
}
.icon, i {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-check:before {content: "\e69c";}
.icon-close:before {content: "\e6b7";}
.icon-qq-chat:before {content: "\e866";}
.icon-recycle:before {content: "\e871";}
.icon-reddit:before {content: "\e874";}
.icon-robot:before {content: "\e87d";}
.icon-shopping:before {content: "\e89d";}
.icon-skype:before {content: "\e8ae";}
.icon-skype-business:before {content: "\e8af";}
.icon-snapchat:before {content: "\e8b2";}
.icon-timer:before {content: "\e8eb";}
.icon-tumblr:before {content: "\e8ff";}
.icon-twitter:before {content: "\e902";}
.icon-wallet:before {content: "\e927";}
.icon-wechat:before {content: "\e937";}
.icon-widgets:before {content: "\e939";}
.icon-windows:before {content: "\e93c";}
.icon-yelp:before {content: "\e945";}
.icon-youtube:before {content: "\e948";}
.icon-amazon:before {content: "\e616";}
.icon-apple-safari:before {content: "\e620";}
.icon-bank:before {content: "\e640";}
.icon-cloud-download:before {content: "\e6bb";}
.icon-cloud-upload:before {content: "\e6bd";}
.icon-cloud-sync:before {content: "\e6be";}
.icon-cube-outline:before {content: "\e6e1";}
.icon-cube-send:before {content: "\e6e2";}
.icon-douban:before {content: "\e708";}
.icon-dropbox1:before {content: "\e70b";}
.icon-edge:before {content: "\e70f";}
.icon-email-outline:before {content: "\e713";}
.icon-email-open-outline:before {content: "\e714";}
.icon-email-secure:before {content: "\e715";}
.icon-evernote:before {content: "\e722";}
.icon-facebook:before {content: "\e725";}
.icon-facebook-messenger:before {content: "\e726";}
.icon-firefox:before {content: "\e73e";}
.icon-gift:before {content: "\e77f";}
.icon-github-circle:before {content: "\e781";}
.icon-google:before {content: "\e783";}
.icon-google-chrome:before {content: "\e786";}
.icon-google-play:before {content: "\e78c";}
.icon-image-multiple:before {content: "\e7b4";}
.icon-instagram:before {content: "\e7b9";}
.icon-linkedin:before {content: "\e7d7";}
.icon-linux:before {content: "\e7d9";}
.icon-map:before {content: "\e7e1";}
.icon-minus:before {content: "\e7fa";}
.icon-minus-box:before {content: "\e7fb";}
.icon-minus-circle:before {content: "\e7fc";}
.icon-minus-circle-outline:before {content: "\e7fe";}
.icon-opera:before {content: "\e82c";}
.icon-page-first:before {content: "\e830";}
.icon-page-last:before {content: "\e831";}
.icon-pinterest:before {content: "\e84b";}
.icon-plus:before {content: "\e853";}
.icon-plus-box-outline:before {content: "\e854";}
.icon-plus-box:before {content: "\e855";}
.icon-plus-circle-outline:before {content: "\e856";}
.icon-basic-data:before {content: "\e650";}
.icon-newspaper:before {content: "\e8b4";}
.icon-receipt:before {content: "\ea24";}
.icon-server-off:before {content: "\ea7e";}
.icon-server-remove:before {content: "\ea80";}
.icon-account-plus:before {content: "\e600";}
.icon-account-remove:before {content: "\e601";}
.icon-account:before {content: "\e604";}
.icon-account-alert:before {content: "\e605";}
.icon-account-check:before {content: "\e608";}
.icon-account-key:before {content: "\e60b";}
.icon-account-multiple:before {content: "\e60e";}
.icon-account-multiple-outline:before {content: "\e60f";}
.icon-alert-circle:before {content: "\e61d";}
.icon-account-star-variant:before {content: "\e621";}
.icon-android:before {content: "\e630";}
.icon-apple:before {content: "\e633";}
.icon-apps:before {content: "\e639";}
.icon-arrow-down-bold-circle:before {content: "\e646";}
.icon-arrow-down-bold-circle-outline:before {content: "\e647";}
.icon-arrow-left-bold-circle:before {content: "\e64c";}
.icon-arrow-left-bold-circle-outline:before {content: "\e64d";}
.icon-arrow-right-bold-circle:before {content: "\e656";}
.icon-arrow-right-bold-circle-outline:before {content: "\e657";}
.icon-arrow-up-bold-circle:before {content: "\e65d";}
.icon-arrow-up-bold-circle-outline:before {content: "\e65e";}
.icon-barcode:before {content: "\e669";}
.icon-bell:before {content: "\e691";}
.icon-bell-outline:before {content: "\e693";}
.icon-bell-ring:before {content: "\e695";}
.icon-bell-ring-outline:before {content: "\e696";}
.icon-bug:before {content: "\e6da";}
.icon-calendar-check:before {content: "\e6e5";}
.icon-camera:before {content: "\e6fa";}
.icon-cart:before {content: "\e705";}
.icon-cart-outline:before {content: "\e706";}
.icon-cart-plus:before {content: "\e707";}
.icon-checkbox-blank:before {content: "\e719";}
.icon-checkbox-blank-outline:before {content: "\e71c";}
.icon-checkbox-marked:before {content: "\e71d";}
.icon-checkbox-marked-outline:before {content: "\e720";}
.icon-checkbox-multiple-blank:before {content: "\e721";}
.icon-checkbox-multiple-blank-outline:before {content: "\e72d";}
.icon-checkbox-multiple-marked:before {content: "\e72e";}
.icon-checkbox-multiple-marked-outline:before {content: "\e72f";}
.icon-chevron-double-down:before {content: "\e732";}
.icon-chevron-double-left:before {content: "\e733";}
.icon-chevron-double-right:before {content: "\e734";}
.icon-chevron-double-up:before {content: "\e735";}
.icon-chevron-down:before {content: "\e736";}
.icon-chevron-left:before {content: "\e737";}
.icon-chevron-right:before {content: "\e738";}
.icon-chevron-up:before {content: "\e739";}
.icon-cloud:before {content: "\e755";}
.icon-cloud-outline:before {content: "\e759";}
.icon-cloud-outline-off:before {content: "\e75a";}
.icon-comment:before {content: "\e770";}
.icon-comment-check:before {content: "\e775";}
.icon-comment-check-outline:before {content: "\e776";}
.icon-comment-outline:before {content: "\e778";}
.icon-currency-btc:before {content: "\e7a1";}
.icon-currency-euro:before {content: "\e7a2";}
.icon-currency-gbp:before {content: "\e7a3";}
.icon-currency-usd:before {content: "\e7a8";}
.icon-database:before {content: "\e7ad";}
.icon-database-minus:before {content: "\e7ae";}
.icon-database-plus:before {content: "\e7af";}
.icon-delete:before {content: "\e7b5";}
.icon-download:before {content: "\e7cf";}
.icon-earth:before {content: "\e7dc";}
.icon-earth-off:before {content: "\e7dd";}
.icon-email:before {content: "\e7e3";}
.icon-email-open:before {content: "\e7e4";}
.icon-eye:before {content: "\e7fd";}
.icon-eye-off:before {content: "\e800";}
.icon-filter:before {content: "\e827";}
.icon-filter-outline:before {content: "\e828";}
.icon-format-list-bulleted:before {content: "\e86d";}
.icon-forum:before {content: "\e881";}
.icon-heart:before {content: "\e8c4";}
.icon-heart-outline:before {content: "\e8c8";}
.icon-help-circle:before {content: "\e8ca";}
.icon-home:before {content: "\e8cf";}
.icon-information:before {content: "\e8ef";}
.icon-information-outline:before {content: "\e8f0";}
.icon-login:before {content: "\e920";}
.icon-lock:before {content: "\e930";}
.icon-lock-open:before {content: "\e931";}
.icon-lock-open-outline:before {content: "\e932";}
.icon-lock-outline:before {content: "\e933";}
.icon-logout:before {content: "\e935";}
.icon-magnify:before {content: "\e93b";}
.icon-map-marker:before {content: "\e940";}
.icon-menu:before {content: "\e94e";}
.icon-open-in-new:before {content: "\e9bc";}
.icon-package:before {content: "\e9c2";}
.icon-paperclip:before {content: "\e9d0";}
.icon-pencil:before {content: "\e9da";}
.icon-phone:before {content: "\e9e1";}
.icon-plus-circle:before {content: "\ea07";}
.icon-printer:before {content: "\ea19";}
.icon-puzzle:before {content: "\ea20";}
.icon-qrcode:before {content: "\ea21";}
.icon-radiobox-blank:before {content: "\ea2a";}
.icon-radiobox-marked:before {content: "\ea2b";}
.icon-rss:before {content: "\ea5a";}
.icon-security:before {content: "\ea72";}
.icon-send:before {content: "\ea79";}
.icon-server:before {content: "\ea7a";}
.icon-settings:before {content: "\ea84";}
.icon-share:before {content: "\ea87";}
.icon-shield-outline:before {content: "\ea8a";}
.icon-star:before {content: "\eab5";}
.icon-sort-ascending:before {content: "\eab7";}
.icon-sort-descending:before {content: "\eab8";}
.icon-sort-variant:before {content: "\eaba";}
.icon-star-half:before {content: "\eac0";}
.icon-star-outline:before {content: "\eac2";}
.icon-store:before {content: "\eacc";}
.icon-tag:before {content: "\eaf1";}
.icon-tag-multiple:before {content: "\eaf3";}
.icon-thumb-up-outline:before {content: "\eafa";}
.icon-theme-light-dark:before {content: "\eb07";}
.icon-thumb-up:before {content: "\eb0d";}
.icon-trending-up:before {content: "\eb2f";}
.icon-undo-variant:before {content: "\eb3c";}
.icon-upload:before {content: "\eb41";}
.icon-verified:before {content: "\eb55";}
.icon-view-grid:before {content: "\eb60";}
.icon-view-headline:before {content: "\eb61";}
.icon-view-list:before {content: "\eb62";}
.icon-web:before {content: "\eb8e";}
