@charset "UTF-8";
* {
    float: left;
    background-color: transparent;
}
html {
    font-size: 10px;
    float: none;
    font-family: sans-serif;
    color: #1B1B1B;
}
body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #F2F2F7;
    overflow-y: scroll;
}
a {
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;
}
.hidden {
    display: none;
}
.fill-btn {
    margin: 0.5rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #DFF1FF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.fill-btn:hover {
    background-color: #056EB7;
    box-shadow: none;
}
.current::before,
.fill-btn:hover::before {
    color: #FFFFFF;
}
standard-button,
submit-button,
reset-button {
    width: calc(-2rem + 50%);
    height: 3rem;
    border: none;
    border-radius: 1.5rem;
    margin: 0 1rem 1rem 1rem;
    cursor: pointer;
}
standard-button > input[slot="element"],
submit-button > input[slot="element"],
reset-button > input[slot="element"] {
    width: 100%;
    min-width: 8rem;
    height: 3rem;
    padding: 0 1.5rem;
    background-color: #F1FAFF;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
textarea-input > textarea {
    width: calc(-2.2rem + 100%);
    padding: 0;
    border: 1px solid #81B9FF;
    resize: none;
}
input[slot="element"] {
    width: calc(-2rem + 100%);
}
select-input > select,
search-input > input[slot="element"] {
    width: 100%;
    height: 2.9rem;
    padding-bottom: 0.2rem;
}
password-input > input[slot="element"] {
    width: calc(-5rem + 100%);
}
password-input > input[slot="element"] + span[slot="icon"] {
    width: 3rem;
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    border-bottom: 1px solid #81B9FF;
    float: left;
    cursor: pointer;
}
password-input > input[slot="element"]:focus + span[slot="icon"] {
    height: 2.7rem;
    background-color: #DFF1FF;
    border-bottom: 2px solid #056EB7;
}
input[slot="element"], select-input > select, textarea-input > textarea {
    height: 2.8rem;
    line-height: 2.8rem;
    border: none;
    border-bottom: 1px solid #81B9FF;
    outline: none;
    float: left;
    padding: 0 1rem;
    font-size: 1.2rem;
}
standard-button > input[slot="element"],
submit-button > input[slot="element"],
reset-button > input[slot="element"] {
    border-bottom: none;
}
standard-button > input[slot="element"]:disabled,
standard-button > input[slot="element"]:disabled:hover,
submit-button > input[slot="element"]:disabled,
submit-button > input[slot="element"]:disabled:hover,
reset-button > input[slot="element"]:disabled,
reset-button > input[slot="element"]:disabled:hover,
message-list > list-filter > standard-button > input[slot="element"]:disabled,
message-list > list-filter > submit-button > input[slot="element"]:disabled,
message-list > list-filter > reset-button > input[slot="element"]:disabled {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    color: #000000;
    box-shadow: none;
    font-weight: normal;
}
select-input > select {
    padding: 0 0.5rem;
    -webkit-appearance: none;
    border-radius: 0;
}
textarea-input > textarea {
    line-height: 2rem;
    border: 1px solid #81B9FF;
    padding: 1rem;
}
input[slot="element"]::placeholder,
textarea-input > textarea::placeholder,
input.passwordInput::placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.7;
}
input[slot="element"]:focus,
select-input > select:focus {
    background-color: #DFF1FF;
    border-bottom: 2px solid #056EB7;
    padding-bottom: 0;
}
input[slot="element"]:focus {
    height: 2.7rem;
}
textarea-input > textarea:focus {
    border-color: #056EB7;
    background-color: #DFF1FF;
}
search-input > input[slot="element"]:focus {
    height: 2.9rem;
    line-height: 2.8rem;
    padding-bottom: 0;
}
a.mockButton {
    min-width: 8rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    margin: 0 1rem 1rem 1rem;
    background-color: #F1FAFF;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
    text-align: center;
    float: left;
}
a.mockButton::before {
    display: none;
}
a.mockButton:hover,
standard-button:hover > input[slot="element"],
submit-button:hover > input[slot="element"],
reset-button:hover > input[slot="element"] {
    background-color: #056EB7;
    color: #FFFFFF;
    font-weight: bolder;
    box-shadow: none;
}
mock-switch > div,
mock-checkbox > div,
mock-radio > div {
    padding: 0.2rem 1rem 0.2rem 0;
    float: left;
}
mock-switch > div > input,
mock-checkbox > div > input,
mock-radio > div > input {
    position: absolute;
    visibility: hidden;
    display: none;
}
mock-checkbox > div > label,
mock-checkbox > div > label > i,
mock-checkbox > div > label > span,
mock-radio > div > label,
mock-radio > div > label > i,
mock-radio > div > label > span {
    float: left;
}
mock-switch > div > label > span,
mock-checkbox > div > label > span,
mock-radio > div > label > span {
    cursor: pointer;
}
mock-switch > div > input + label > i,
mock-switch > div > input + label > i + span,
mock-checkbox > div > input + label > i,
mock-checkbox > div > input + label > i + span,
mock-radio > div > input + label > i,
mock-radio > div > input + label > i + span {
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 auto;
    font-size: 1.2rem;
}
mock-radio > div > input + label > i {
    width: 2rem;
    height: 2rem;
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin: 0.2rem 0.7rem;
}
mock-radio > div > input + label > i:before,
mock-radio > div > input + label > i:after {
    display: block;
    position: absolute;
    content: "";
}
mock-radio > div > input + label > i:before {
    width: 60%;
    height: 60%;
}
mock-radio > div > input + label > i:after {
    width: 40%;
    height: 40%;
}
mock-radio > div > input + label > i:before {
    margin: 10% 20%;
    border-radius: 100%;
    background-color: #FFFFFF;
    transition: background 0.4s;
    border: 1px solid #056EB7;
}
mock-radio > div > input + label > i:after {
    margin: 25% 35%;
    border-radius: 100%;
}
mock-radio > div > input:checked + label > i:before {
    background-color: #056EB7;
}
mock-radio > div > input:checked + label > i:after {
    background-color: #FFFFFF;
}
mock-switch > div > input + label > i,
mock-checkbox > div > input + label > i {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin: 0.2rem 0.8rem;
}
mock-switch > div > input + label > i {
    padding: 0.2rem;
    width: 3.2rem;
    height: 1.6rem;
    background-color: #056EB7;
    border-radius: 1.6rem;
}
mock-switch > div > input + label > i:before,
mock-switch > div > input + label > i:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
mock-switch > div > input + label > i:before {
    right: 1px;
    background-color: #DFF1FF;
    border-radius: 1.6rem;
    transition: background 0.4s;
}
mock-switch > div > input + label > i:after {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.1rem;
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
mock-switch > div > input:checked + label > i:before {
    background-color: #056EB7;
}
mock-switch > div > input:checked + label > i:after {
    margin-left: 1.7rem;
}
mock-switch > div > input:disabled + label > i {
    background-color: #AAAAAA;
}
mock-switch > div > input:disabled + label > i:before {
    background-color: #DDDDDD;
}
mock-switch > div > input:disabled + label > i:after {
    background-color: #AAAAAA;
    box-shadow: none;
}
mock-switch > div > input:disabled:checked + label > i:after {
    background-color: #AAAAAA;
    margin-left: 21px;
    box-shadow: none;
}
mock-checkbox > div > input + label > i {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    border: 1px solid #056EB7;
    background-color: #FFFFFF;
    margin: 0.5rem 0.7rem;
}
mock-checkbox > div > input + label > i:after {
    height: 1.2rem;
    line-height: 1.2rem;
    content: "";
    text-align: center;
}
mock-checkbox > div > input:checked + label > i {
    background-color: #056EB7;
}
mock-checkbox > div > input:checked + label > i:after {
    display: block;
    position: absolute;
    content: "\2713";
    color: #FFFFFF;
}
form-info {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    float: left;
}
form-info > form {
    width: 100%;
    min-height: 100%;
    float: left;
}
form-info > h2 {
    width: 100%;
    margin: 1rem 0;
    float: left;
    display: block;
    text-align: center;
}
textarea-input,
select-input,
radio-group,
checkbox-group,
text-input,
number-input,
search-input,
password-input,
hidden-input,
date-input,
time-input,
datetime-input,
number-interval-input,
date-interval-input,
time-interval-input,
datetime-interval-input,
form-info > form > form-item,
form-info > form > form-item > div {
    width: 100%;
    float: left;
}
form-info > form > form-item {
    margin: 0 0 1rem 0;
}
label[slot="itemName"] {
    height: 3rem;
    line-height: 3rem;
    margin: 0 auto;
    padding: 0;
    float: left;
    font-size: 1.2rem;
}
tips-button {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    float: left;
    z-index: 10;
}
tips-button > span {
    margin: 0 auto;
    padding: 0.6rem;
    position: relative;
    float: left;
    cursor: pointer;
}
tips-button > span > i {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 100%;
    color: #056EB7;
    display: block;
    text-align: center;
    font-size: 1.8rem;
    float: left;
}
tips-button > span > span {
    width: 15rem;
    min-height: 2rem;
    line-height: 2rem;
    margin: 0 0 0 2rem;
    padding: 0.5rem 1rem;
    position: absolute;
    display: none;
    background-color: #056EB7;
    color: #FFFFFF;
    left: 2rem;
    top: 0;
    font-size: 1.2rem;
}
tips-button > span::before {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    transform: rotate(45deg);
    background-color: #056EB7;
    border: 1px solid #056EB7;
    position: absolute;
    left: 3.3rem;
    top: 0.8rem;
    display: none;
}
tips-button > span:hover::before,
tips-button > span:hover > span {
    display: block;
}
menu-element,
menu-element > div {
    width: 100%;
    min-height: 3rem;
}
menu-element > div > menu-item {
    height: 3rem;
    line-height: 3rem;
}
menu-element > div > menu-item.current,
menu-element > div > menu-item:hover,
menu-element > div > menu-item > div > menu-item.current,
menu-element > div > menu-item > div > menu-item:hover {
    background-color: #DFF1FF;
}
menu-element > div > menu-item > a {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}
menu-element > div > menu-item > a > span[name="icon"],
menu-element > div > menu-item > div > menu-item > a > span[name="icon"] {
    width: 1.6rem;
    height: 1.6rem;
    margin: 1.2rem 0.8rem;
}
menu-element > div > menu-item > div {
    width: 100%;
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: #056EB7;
    display: none;
    z-index: 10;
}
menu-element > div > menu-item:hover > div {
    display: block;
}
menu-element > div > menu-item > div > menu-item {
    height: 3rem;
    line-height: 3rem;
    padding: 0;
}
menu-element > div > menu-item > div > menu-item > a {
    padding: 0 1rem;
}
menu-element > div > menu-item > a > span[name="textContent"],
menu-element > div > menu-item > div > menu-item > a > span[name="textContent"] {
    font-size: 1.2rem;
}
menu-element > div > menu-item > a > span[name="textContent"] {
    font-size: 1.4rem;
    font-weight: bold;
}
menu-element > div > menu-item.current > a > span[name="textContent"],
menu-element > div > menu-item.current > div[name="items"] > a.current > span[name="textContent"],
menu-element > div > menu-item:hover > a > span[name="textContent"],
menu-element > div > menu-item > div > menu-item:hover > a > span[name="textContent"] {
    color: #1B1B1B;
}
message-list,
message-list > list-filter {
    margin: 0 auto;
    padding: 0;
    float: left;
}
message-list {
    width: 100%;
}
message-list > list-statistics > div,
message-list > list-data > div {
    width: 100%;
}
message-list > list-filter,
message-list > list-statistics,
message-list > list-title,
message-list > list-data {
    background-color: #FFFFFF;
    border-radius: 1rem;
}
message-list > list-filter {
    width: calc(-4rem + 100%);
    padding: 2rem;
}
message-list > list-statistics {
    width: calc(-4rem + 100%);
    padding: 2rem;
}
message-list > list-title {
    width: calc(-2.5rem + 100%);
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 1.5rem 0 1rem;
}
message-list > list-data {
    width: calc(-4rem + 100%);
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 2rem;
}
message-list > list-filter > form {
    width: 100%;
}
message-list > list-filter > form > * > input[slot="element"] {
    width: calc(-25rem + 100%);
}
message-list > list-filter > form > * > label[slot="itemName"] {
    padding: 0 1rem 0 0;
    width: 20rem;
}
message-list > list-filter > standard-button > input[slot="element"]:disabled,
message-list > list-filter > submit-button > input[slot="element"]:disabled,
message-list > list-filter > reset-button > input[slot="element"]:disabled {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    color: #000000;
    box-shadow: none;
    font-weight: normal;
}
message-list > list-filter > form > select-input > select,
message-list > list-filter > form > search-input > input[slot="element"] {
    width: calc(-25rem + 100%);
    margin-bottom: 0.5rem;
    padding-bottom: 0.2rem;
}
message-list > list-filter > form > search-input > input[slot="element"] {
    height: 2.9rem;
}
message-list > list-data > div[slot="dataInfo"] > div,
message-list > list-data > div[slot="dataInfo"] > list-header {
    width: calc(-2px + 100%);
}
message-list > list-filter,
message-list > list-statistics,
message-list > list-title {
    margin-top: 2rem;
}
message-list > list-filter > form > * {
    width: 100%;
    margin-bottom: 0.5rem;
    float: left;
}
message-list > list-filter > form > * > label {
    width: 20rem;
    height: 3rem;
    line-height: 3rem;
}
message-list > list-filter > form > * > label > span {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
}
message-list > list-filter > form > radio-group > div,
message-list > list-filter > form > checkbox-group > div {
    width: calc(-26rem + 100%);
    min-height: 2.9rem;
    line-height: 2.9rem;
    overflow: hidden;
}
message-list > list-filter > form > search-input > input {
    width: calc(-27rem + 100%);
    height: 2.9rem;
    line-height: 2.9rem;
    outline: none;
    border: none;
    padding-left: 1rem;
    border-bottom: 1px solid #81B9FF;
}
message-list > list-filter > form > search-input > input:focus {
    height: 3rem;
    border-bottom: 2px solid #056EB7;
    background-color: #F1FAFF;
}
message-list > list-filter > form > number-interval-input,
message-list > list-filter > form > date-interval-input,
message-list > list-filter > form > time-interval-input,
message-list > list-filter > form > datetime-interval-input {
    width: 50%;
    height: 2.9rem;
    line-height: 2.9rem;
}
message-list > list-filter > form > number-interval-input > div,
message-list > list-filter > form > date-interval-input > div,
message-list > list-filter > form > time-interval-input > div,
message-list > list-filter > form > datetime-interval-input > div {
    width: calc(-27rem + 100%);
    height: 2.9rem;
    line-height: 2.9rem;
}
message-list > list-filter > form > number-interval-input > div > input,
message-list > list-filter > form > date-interval-input > div > input,
message-list > list-filter > form > time-interval-input > div > input,
message-list > list-filter > form > datetime-interval-input > div > input {
    width: calc(-3rem + 50%);
    height: 2.9rem;
    line-height: 2.9rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #81B9FF;
    text-align: center;
}
message-list > list-filter > form > number-interval-input > div > input:focus,
message-list > list-filter > form > date-interval-input > div > input:focus,
message-list > list-filter > form > time-interval-input > div > input:focus,
message-list > list-filter > form > datetime-interval-input > div > input:focus {
    border-bottom: 2px solid #056EB7;
    background-color: #DFF1FF;
}
message-list > list-filter > form > number-interval-input > div > span[id="concat"],
message-list > list-filter > form > date-interval-input > div > span[id="concat"],
message-list > list-filter > form > time-interval-input > div > span[id="concat"],
message-list > list-filter > form > datetime-interval-input > div > span[id="concat"] {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.8rem;
}
message-list > list-filter > form > radio-group > div > mock-radio,
message-list > list-filter > form > checkbox-group > div > mock-checkbox {
    margin-right: 1rem;
}
message-list > list-filter > form > radio-group > div > mock-radio > div > label,
message-list > list-filter > form > checkbox-group > div > mock-checkbox > div > label {
    padding: 0 1rem;
}
message-list > list-filter > form > radio-group > div > mock-radio > div > label:hover,
message-list > list-filter > form > radio-group > div > mock-radio > div > input:checked + label,
message-list > list-filter > form > checkbox-group > div > mock-checkbox > div > label:hover,
message-list > list-filter > form > checkbox-group > div > mock-checkbox > div > input:checked + label {
    height: 2.4rem;
    border-radius: 0.5rem;
    background-color: #056EB7;
}
message-list > list-filter > form > radio-group > div > mock-radio > div,
message-list > list-filter > form > checkbox-group > div > mock-checkbox > div {
    padding-right: 0;
}
message-list > list-filter > form > radio-group > div > mock-radio > div > label:hover > span,
message-list > list-filter > form > radio-group > div > mock-radio > div > input:checked + label > span,
message-list > list-filter > form > checkbox-group > div > mock-checkbox > div > label:hover > span,
message-list > list-filter > form > checkbox-group > div > mock-checkbox > div > input:checked + label > span {
    color: #FFFFFF;
}
message-list > list-filter > form > radio-group > div > mock-radio > tips-button,
message-list > list-filter > form > radio-group > div > mock-radio > div > label > i,
message-list > list-filter > form > checkbox-group > div > mock-checkbox > tips-button,
message-list > list-filter > form > checkbox-group > div > mock-checkbox > div > label > i,
message-list > list-data > div[slot="batchOperators"] > a > span#textContent {
    display: none;
}
message-list > list-filter > standard-button,
message-list > list-filter > submit-button,
message-list > list-filter > reset-button {
    width: auto;
    float: right;
}
message-list > list-filter > standard-button > input[slot="element"],
message-list > list-filter > submit-button > input[slot="element"],
message-list > list-filter > reset-button > input[slot="element"],
message-list > list-filter > standard-button > input[slot="element"]:focus,
message-list > list-filter > submit-button > input[slot="element"]:focus,
message-list > list-filter > reset-button > input[slot="element"]:focus {
    background-color: #056EB7;
    color: #FFFFFF;
    box-shadow: none;
}
message-list > list-filter > standard-button:hover > input[slot="element"],
message-list > list-filter > submit-button:hover > input[slot="element"],
message-list > list-filter > reset-button:hover > input[slot="element"] {
    font-weight: normal;
}
message-list > list-statistics > div > div {
    width: calc(-5.5rem + 25%);
    margin-right: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 15px rgba(68, 132, 206, 0.8);
}
message-list > list-statistics > div > div.warning {
    background-color: #FFFF00;
}
message-list > list-statistics > div > div.error {
    background-color: #FF0000;
}
message-list > list-statistics > div > div.error > #title,
message-list > list-statistics > div > div.error > #data {
    color: #FFFFFF;
}
message-list > list-statistics > div > div:last-child {
    margin-right: 0;
}
message-list > list-statistics > div > div > span {
    width: 100%;
    font-weight: bolder;
}
message-list > list-statistics > div > div > #title {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #888888;
}
message-list > list-statistics > div > div > #data {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 1rem;
}
message-list > list-title,
message-list > list-title > span {
    height: 4rem;
    line-height: 4rem;
}
message-list > list-title > span {
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: bolder;
}
message-list > list-title > div[slot="btnGroup"] {
    height: 3rem;
    margin: 0.5rem;
    float: right;
}
message-list > list-data > div[slot="batchOperators"] > a,
message-list > list-data > div[slot="batchOperators"] > i {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border: none;
    outline: none;
    background-color: #DFF1FF;
    cursor: pointer;
    border-radius: 0.4rem;
    text-align: center;
    margin: 0 0.2rem;
    font-size: 1.8rem;
}
message-list > list-data > div[slot="batchOperators"] > a,
message-list > list-data > div[slot="batchOperators"] > i,
message-list > list-title > div[slot="btnGroup"] > a,
message-list > list-title > div[slot="btnGroup"] > i {
    margin-left: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #056EB7;
}
message-list > list-title > div[slot="btnGroup"] > a,
message-list > list-title > div[slot="btnGroup"] > i {
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.4rem;
    line-height: 2.4rem;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    background-color: #DFF1FF;
    cursor: pointer;
}
message-list > list-data > div[slot="batchOperators"] > a:hover,
message-list > list-data > div[slot="batchOperators"] > i:hover,
message-list > list-title > div[slot="btnGroup"] > i.current,
message-list > list-title > div[slot="btnGroup"] > a:hover,
message-list > list-title > div[slot="btnGroup"] > i:hover {
    box-shadow: none;
}
message-list > list-data > div[slot="batchOperators"] > a:hover,
message-list > list-data > div[slot="batchOperators"] > i:hover,
message-list > list-title > div[slot="btnGroup"] > a:hover,
message-list > list-title > div[slot="btnGroup"] > i:hover,
message-list > list-title > div[slot="btnGroup"] > i.current,
message-list > list-data > div[slot="listPager"] > #firstPage,
message-list > list-data > div[slot="listPager"] > i:hover,
message-list > list-data > div[slot="listPager"] > #lastPage,
message-list > list-data > div[slot="listPager"] > #pageGroup > i:hover,
message-list > list-data > div[slot="listPager"] > #pageGroup > .current {
    background-color: #056EB7;
    color: #FFFFFF;
}
message-list > list-data[data-select-all="false"] > div[slot="dataInfo"] > list-header > mock-checkbox,
message-list > list-data[data-select-all="false"] > div[slot="dataInfo"] > #content > list-record > mock-checkbox {
    visibility: hidden;
}
message-list > list-data > div[slot="dataInfo"] > #content > list-record > span[slot="preview"] {
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
message-list > list-data > div[slot="dataInfo"] > #content > list-record > div[slot="operators"] > record-operator {
    height: 2.4rem;
    line-height: 2.4rem;
}
message-list > list-data > div[slot="dataInfo"] > list-header,
message-list > list-data > div[slot="dataInfo"] > #content {
    border: 1px solid #056EB7;
}
message-list > list-data > div[slot="dataInfo"] > list-header {
    background-color: #056EB7;
}
message-list > list-data > .image-list > #content {
    padding-bottom: 1rem;
}
message-list > list-data > div[slot="dataInfo"] > list-header > mock-checkbox > tips-button,
message-list > list-data > div[slot="dataInfo"] > #content > list-record > mock-checkbox > tips-button {
    display: none;
}
message-list > list-data > div[slot="dataInfo"] > #content > list-record {
    transition: box-shadow 0.4s, background-color 0.4s linear;
}
message-list > list-data > div[slot="dataInfo"] > #content > list-record:hover {
    background-color: #DFF1FF;
}
message-list > list-data > div[slot="dataInfo"] > #content > list-record.warning:hover {
    background-color: #FFFF00;
}
message-list > list-data > div[slot="dataInfo"] > #content > list-record.warning {
    background-color: rgba(255, 255, 0, 0.5);
}
message-list > list-data > div[slot="dataInfo"] > #content > list-record.error:hover {
    background-color: #FF0000;
}
message-list > list-data > div[slot="dataInfo"] > #content > list-record.error {
    background-color: rgba(255, 0, 0, 0.5);
}
message-list > list-data > div[slot="dataInfo"] > #content > list-record > span[slot="mainTitle"] > a {
    height: 3rem;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
message-list > list-data > .text-list > #content > list-record > span[slot="mainTitle"] > a,
message-list > list-data > .view-list > #content > list-record > span[slot="mainTitle"] > a {
    width: 100%;
}
message-list > list-data > div[slot="dataInfo"] > #content > list-record.error:hover > span[slot="abstract"],
message-list > list-data > div[slot="dataInfo"] > #content > list-record.error:hover > span[slot="mainTitle"] > a,
message-list > list-data > div[slot="dataInfo"] > #content > list-record.error:hover > star-score > div > span::before,
message-list > list-data > div[slot="dataInfo"] > #content > list-record.error:hover > div[slot="items"] > property-item > span,
message-list > list-data > div[slot="dataInfo"] > #content > list-record.error:hover > div[slot="operators"] > record-operator > a > span {
    color: #FFFFFF;
}
message-list > list-data > .text-list > #content > list-record,
message-list > list-data > .view-list > #content > list-record {
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid #81B9FF;
}
message-list > list-data > .text-list > #content > list-record:last-child,
message-list > list-data > .view-list > #content > list-record:last-child {
    border-bottom: none;
}
message-list > list-data > .text-list > list-header > mock-checkbox,
message-list > list-data > .text-list > #content > list-record > mock-checkbox {
    width: 2.4rem;
}
message-list > list-data > .text-list > list-header > mock-checkbox > div[slot="element"] {
    padding: 0.8rem 0;
}
message-list > list-data > .text-list > #content > list-record > mock-checkbox > div[slot="element"] {
    padding: 0;
}
message-list > list-data > .text-list > list-header > mock-checkbox > div[slot="element"] > input + label > i,
message-list > list-data > .text-list > #content > list-record > mock-checkbox > div[slot="element"] > input + label > i {
    margin: 0.5rem;
    background-color: #FFFFFF;
}
message-list > list-data > .text-list > list-header > mock-checkbox > div[slot="element"] > input + label > i {
    border-color: #FFFFFF;
}
message-list > list-data > .text-list > list-header > mock-checkbox > div[slot="element"] > input:checked + label > i::after,
message-list > list-data > .text-list > #content > list-record > mock-checkbox > div[slot="element"] > input:checked + label > i::after {
    color: #056EB7;
}
message-list > list-data > .text-list > list-header > span[slot="mainTitle"],
message-list > list-data > .text-list > #content > list-record > span[slot="mainTitle"] {
    width: calc(-2.4rem + 25%);
}
message-list > list-data > .text-list > list-header > span[slot="mainTitle"] {
    padding-left: 2.4rem;
}
message-list > list-data > .text-list > list-header > span[slot="operators"],
message-list > list-data > .text-list > #content > list-record > div[slot="operators"] {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
message-list > list-data > .text-list > list-header > div[slot="items"],
message-list > list-data > .text-list > #content > list-record > div[slot="items"] {
    width: 60%;
}
message-list > list-data > .text-list > list-header > div[slot="items"] > span,
message-list > list-data > .text-list > #content > list-record > div[slot="items"] > property-item {
    width: var(--width);
    text-align: center;
}
message-list > list-data > .text-list > list-header > span,
message-list > list-data > .text-list > #content > list-record > div[slot="items"] > property-item > span[slot="value"] {
    text-align: center;
}
message-list > list-data > .text-list > #content > list-record > span[slot="mainTitle"] > a,
message-list > list-data > .text-list > #content > list-record > div[slot="items"] > property-item,
message-list > list-data > .text-list > #content > list-record > div[slot="operators"] > record-operator > a {
    font-size: 1.2rem;
    text-decoration: none;
}
message-list > list-data > .text-list > list-header > span[slot="mainTitle"],
message-list > list-data > .text-list > list-header > div[slot="items"],
message-list > list-data > .text-list > list-header > span[slot="operators"] {
    height: 4rem;
    line-height: 4rem;
    color: #FFFFFF;
    font-size: 1.4rem;
}
message-list > list-data > .text-list > list-header > div[slot="items"] > span {
    color: #FFFFFF;
}
message-list > list-data > .text-list > #content > list-record > span[slot="mainTitle"],
message-list > list-data > .text-list > #content > list-record > div[slot="items"],
message-list > list-data > .text-list > #content > list-record > span[slot="operators"] {
    height: 2.4rem;
    line-height: 2.4rem;
}
message-list > list-data > .text-list > #content > list-record > div[slot="items"] > property-item > span[slot="value"] {
    width: 100%;
}
message-list > list-data > .view-list > list-header > mock-checkbox,
message-list > list-data > .view-list > #content > list-record > mock-checkbox {
    width: 2.4rem;
    position: absolute;
    left: 2.5rem;
}
message-list > list-data > .image-list > list-header > mock-checkbox,
message-list > list-data > .image-list > #content > list-record > mock-checkbox {
    width: 2.4rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}
message-list > list-data > .view-list > list-header > mock-checkbox > div > input + label > i,
message-list > list-data > .view-list > #content > list-record > mock-checkbox > div > input + label > i,
message-list > list-data > .image-list > list-header > mock-checkbox > div > input + label > i,
message-list > list-data > .image-list > #content > list-record > mock-checkbox > div > input + label > i {
    background-color: #FFFFFF;
}
message-list > list-data > .view-list > list-header > mock-checkbox > div > input:checked + label > i,
message-list > list-data > .view-list > #content > list-record > mock-checkbox > div > input:checked + label > i,
message-list > list-data > .image-list > list-header > mock-checkbox > div > input:checked + label > i,
message-list > list-data > .image-list > #content > list-record > mock-checkbox > div > input:checked + label > i {
    background-color: #056EB7;
}
message-list > list-data > .view-list > #content > list-record > span[slot="mainTitle"] > a,
message-list > list-data > .image-list > #content > list-record > span[slot="mainTitle"] > a {
    font-size: 1.4rem;
    font-weight: bolder;
}
message-list > list-data > .image-list > div {
    width: calc(-12px + 100%);
    padding: 5px;
}
message-list > list-data > .image-list > #content > list-record {
    width: calc(-12px + 12.5%);
    margin: 5px;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    position: relative;
    border: 1px solid #CCCCCC;
}
message-list > list-data > .image-list > #content > list-record > span[slot="preview"] {
    border-radius: 1rem 1rem 0 0;
}
message-list > list-data > .image-list > #content > list-record > span[slot="mainTitle"],
message-list > list-data > .image-list > #content > list-record > div[slot="operators"],
message-list > list-data > .image-list > #content > list-record > star-score {
    width: calc(-20px + 100%);
    padding: 0 10px;
}
message-list > list-data > .image-list > #content > list-record > span[slot="mainTitle"] > a {
    width: calc(-20px + 100%);
}
message-list > list-data > .image-list > #content > list-record:hover {
    box-shadow: 0 0 10px;
}
message-list > list-data > .view-list > list-header,
message-list > list-data > .image-list > list-header,
message-list > list-data > .image-list > #content > list-record > div[slot="items"],
message-list > list-data > .text-list > #content > list-record > span[slot="abstract"],
message-list > list-data > .image-list > #content > list-record > span[slot="abstract"],
message-list > list-data > .text-list > #content > list-record > span[slot="preview"],
message-list > list-data > .text-list > #content > list-record > star-score,
message-list > list-data > .text-list > #content > list-record > div[slot="items"] > property-item > span[slot="name"],
message-list > list-data > .text-list > #content > list-record > div[slot="operators"] > record-operator > a > #text,
message-list > list-data > .image-list > #content > list-record > div[slot="operators"] > record-operator > a > #text {
    display: none;
}
message-list > list-data > .view-list > #content > list-record > star-score > div,
message-list > list-data > .view-list > #content > list-record > star-score > div > span,
message-list > list-data > .image-list > #content > list-record > star-score > div,
message-list > list-data > .image-list > #content > list-record > star-score > div > span {
    height: 2rem;
    line-height: 2rem;
}
message-list > list-data > .view-list > #content > list-record > star-score > div,
message-list > list-data > .image-list > #content > list-record > star-score > div {
    height: 2rem;
    line-height: 2rem;
    margin: 0.5rem 0;
}
message-list > list-data > .view-list > #content > list-record > star-score > div > i,
message-list > list-data > .image-list > #content > list-record > star-score > div > i {
    width: 1.8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.6rem;
}
message-list > list-data > .view-list > #content > list-record > span[slot="preview"] {
    width: 16rem;
    height: 16rem;
    margin: 0 1rem 0 0.5rem;
}
message-list > list-data > .view-list > #content > list-record > span[slot="mainTitle"] {
    max-width: calc(-27.5rem + 100%);
    height: 3rem;
    line-height: 3rem;
    padding-right: 1rem;
    overflow: hidden;
}
message-list > list-data > .view-list > #content > list-record > span[slot="abstract"] {
    width: calc(-17.5rem + 100%);
    height: 5.2rem;
    line-height: 2.6rem;
    font-size: 1.2rem;
    overflow: hidden;
}
message-list > list-data > .view-list > #content > list-record > div[slot="items"],
message-list > list-data > .view-list > #content > list-record > div[slot="operators"] {
    width: calc(-17.5rem + 100%);
    line-height: 2.4rem;
    overflow: hidden;
    float: right;
}
message-list > list-data > .view-list > #content > list-record > div[slot="items"] {
    height: 4.8rem;
}
message-list > list-data > .view-list > #content > list-record > div[slot="operators"] {
    height: 2.4rem;
    margin-top: 0.6rem;
}
message-list > list-data > .view-list > #content > list-record > div[slot="items"] > property-item {
    margin-right: 1rem;
}
message-list > list-data > .view-list > #content > list-record > div[slot="items"] > property-item > span {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}
message-list > list-data > .view-list > #content > list-record > div[slot="items"] > property-item > span[slot="name"]::after {
    content: ":";
    width: 1rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 5px;
}
message-list > list-data > .view-list > #content > list-record > property-item > span[slot="value"] {
    margin-left: 0.5rem;
}
message-list > list-data > .text-list > #content > list-record > div[slot="operators"] > record-operator,
message-list > list-data > .view-list > #content > list-record > div[slot="operators"] > record-operator,
message-list > list-data > .image-list > #content > list-record > div[slot="operators"] > record-operator {
    min-width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
}
message-list > list-data > .view-list > #content > list-record > div[slot="operators"] > record-operator > a > #icon,
message-list > list-data > .image-list > #content > list-record > div[slot="operators"] > record-operator > a > #icon,
message-list > list-data > .text-list > #content > list-record > div[slot="operators"] > record-operator > a > #icon {
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.6rem;
    text-align: center;
}
message-list > list-data > .view-list > #content > list-record.error:hover > div[slot="operators"] > record-operator > a > #icon,
message-list > list-data > .image-list > #content > list-record.error:hover > div[slot="operators"] > record-operator > a > #icon,
message-list > list-data > .text-list > #content > list-record.error:hover > div[slot="operators"] > record-operator > a > #icon {
    color: #FFFFFF;
}
message-list > list-data > .view-list > #content > list-record > div[slot="operators"] > record-operator > a > #text,
message-list > list-data > .text-list > #content > list-record > div[slot="operators"] > record-operator > a > #text {
    font-size: 1.2rem;
}
message-list > list-data > .image-list > #content > list-record > span[slot="preview"] {
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 100%;
}
message-list > list-data > .image-list > #content > list-record > span[slot="mainTitle"],
message-list > list-data > .image-list > #content > list-record > div[slot="operators"] {
    width: 100%;
}
message-list > list-data > .image-list > #content > list-record > span[slot="mainTitle"] {
    height: 3rem;
    line-height: 3rem;
}
message-list > list-data > .image-list > #content > list-record > div[slot="operators"] {
    height: 2.4rem;
    margin-top: 0.6rem;
}
message-list > list-data > div[slot="batchOperators"],
message-list > list-data > div[slot="listPager"] {
    width: auto;
    height: 3rem;
    margin: 0.5rem 0;
}
message-list > list-data > div[slot="batchOperators"] {
    float: left;
}
message-list > list-data > div[slot="batchOperators"] > a,
message-list > list-data > div[slot="batchOperators"] > i {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0;
    text-decoration: none;
}
message-list > list-data > div[slot="listPager"] {
    float: right;
}
message-list > list-data > div[slot="listPager"] > i,
message-list > list-data > div[slot="listPager"] > div > i {
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.6rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0 0.5rem;
    text-align: center;
}
slide-show {
    margin: 0 auto;
    padding: 0;
}
slide-show > div[slot="slide"] {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
slide-show > div[slot="slide"] > div {
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
slide-show > div[slot="slide"] > div > a {
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    float: left;
    display: block;
}
slide-show > div[slot="slide"] > div > a.hidden {
    display: none;
}
slide-show > div[slot="slide"] > div > a > span {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(220, 238, 249, 0.8);
    text-align: center;
    color: #1B1B1B;
    display: block;
}
slide-show > div[slot="slide"] > div > a > span.hidden {
    display: none;
}
slide-show > div[slot="sort"] {
    width: 100%;
    height: 0.5rem;
    position: relative;
    bottom: 5.5rem;
    display: flex;
    justify-content: center;
    z-index: 5;
}
slide-show > div[slot="sort"] > span {
    width: 2rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    background-color: #FFFFFF;
    float: left;
}
slide-show > div[slot="sort"] > span.current {
    background-color: #056EB7;
}
float-window {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(68, 132, 206, 0.4);
    float: left;
    z-index: 100;
}
float-window > float-page {
    width: 80%;
    position: absolute;
    padding-top: 4rem;
    left: calc(-4rem + 10%);
    border-radius: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: #FFFFFF;
    overflow: hidden;
}
float-window > float-page > i[slot="closeBtn"] {
    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
float-window > float-page > div {
    width: calc(-8rem + 100%);
    height: calc(-4rem + 100%);
    padding: 0 2rem 0 4rem;
    float: left;
    overflow-y: scroll;
}
.waitingData {
    background-image: url('../images/loading.gif');
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
}
scroll-bar {
    width: 0.6rem;
    height: calc(-8rem + 100%);
    margin: 0 0.5rem;
    position: absolute;
    top: 5rem;
    right: 1rem;
    border-radius: 0.3rem;
    transition: all 0.4s;
    background-color: #F1FAFF;
    display: none;
}
scroll-bar > div[slot="scrollItem"] {
    width: 0.6rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.3rem;
    transition: width 0.4s;
    background-color: #056EB7;
}
scroll-bar:hover,
scroll-bar:hover > div[slot="scrollItem"] {
    width: 2rem;
    border-radius: 1rem;
}
notify-area {
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
}
notify-area > i {
    width: 3rem;
    height: 3rem;
    line-height: 3.2rem;
    padding: 0;
    position: fixed;
    outline: none;
    border: 1px solid #F1FAFF;
    background-color: #F1FAFF;
    border-radius: 1.5rem;
    top: 9rem;
    right: 1rem;
    z-index: 20;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    color: #056EB7;
}
notify-area > i.alert::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: #FF0000;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
}
notify-area.notify {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}
notify-area > i:hover,
notify-area.notify > i {
    background-color: #056EB7;
    border: 1px solid #056EB7;
    box-shadow: none;
    color: #FFFFFF;
}
notify-area.notify > i {
    right: calc(-1.5rem + 30%);
}
notify-area.notify > i.alert::after {
    display: none;
}
notify-area > div[slot="floatNotify"],
notify-area > div[slot="notification"] {
    position: fixed;
    top: 0;
}
notify-area > div[slot="notification"] {
    padding: 4rem 0 2rem 0;
    z-index: 20;
}
notify-area > div[slot="floatNotify"] {
    padding: 0 2rem;
    width: calc(-4rem + 60%);
    left: 20%;
    background-color: rgba(68, 132, 206, 0.4);
    border-radius: 0 0 1rem 1rem;
    z-index: 20;
    opacity: 0;
}
notify-area > div[slot="notification"] {
    width: 30%;
    height: calc(-6rem + 100%);
    right: 0;
    background-color: #F2F2F7;
    transition: all 0.4s;
    opacity: 0;
}
notify-area.notify > div[slot="notification"] {
    width: 30%;
    opacity: 1;
    border: none;
}
notify-area > div > div {
    width: calc(-6rem + 100%);
    margin: 1rem 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    position: relative;
    float: left;
}
notify-area > div > div > a {
    width: calc(-2rem + 100%);
    padding: 1rem;
    float: left;
}
notify-area > div > div > i {
    width: 2rem;
    height: 2rem;
    line-height: 2.2rem;
    padding: 0;
    outline: none;
    border: none;
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    color: #FF0000;
    background-color: #FFFFFF;
    border-radius: 1rem;
    z-index: 1;
    cursor: pointer;
    font-size: 2.2rem;
}
notify-area > div > div > button::before {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0;
    font-size: 2rem;
    content: "\e61c";
    color: #FFFFFF;
    float: left;
    text-align: center;
    font-family: cell-icon, sans-serif;
}
notify-area > div[slot="notification"] {
    visibility: hidden;
}
notify-area.notify > div[slot="notification"] {
    visibility: visible;
}
notify-area > div[slot="floatNotify"] > div:first-child {
    margin-top: 2rem;
}
notify-area > div[slot="floatNotify"] > div:last-child {
    margin-bottom: 2rem;
}
@-webkit-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 6rem 0;}
}
@-moz-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 6rem 0;}
}
progress-bar {
    width: calc(-2px + 100%);
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 1rem 0;
    border-radius: 1.3rem;
    border: 1px solid #81B9FF;
    background-color: #F1FAFF;
    position: relative;
    float: left;
}
progress-bar > span[slot="progressInfo"] {
    width: 0;
    height: 2.6rem;
    background-color: rgba(129, 185, 255, 0.9);
    border-radius: 1.3rem;
    background-size: 3rem 3rem;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2) inset;
    display: inline-block;
    transition: width 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
    text-align: center;
}
progress-bar > span[slot="progressText"] {
    width: 100%;
    height: 2.6rem;
    line-height: 2.6rem;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    color: #056EB7;
}
star-rating > div,
star-score > div,
star-score > div > span {
    height: 3rem;
    line-height: 3rem;
    float: left;
}
star-rating > div > input {
    display: none;
}
star-rating > div > label,
star-rating > div > label::before {
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    float: right;
}
star-rating > div > label {
    margin: 0.4rem 0;
    cursor: pointer;
}
star-rating > div > label::before {
    font-size: 2.2rem;
    content: "\e79d";
    color: #056EB7;
}
star-rating > div > input:checked ~ label::before,
star-rating > div:not(:checked) > label:hover::before,
star-rating > div:not(:checked) > label:hover ~ label::before {
    content: "\e79e";
}
star-score > div > span::before {
    font-size: 2.2rem;
    color: #056EB7;
}
mock-dialog {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
}
mock-dialog > div[slot="dialog"] {
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    border: none;
    border-radius: 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
mock-dialog > div[slot="dialog"] > span {
    width: calc(-6rem + 100%);
    height: calc(-7rem + 100%);
    margin: 3rem;
    float: left;
    font-size: 1.4rem;
}
mock-dialog > div[slot="dialog"] > button {
    height: 4rem;
    line-height: 4rem;
    background-color: #DFF1FF;
    border: none;
    outline: none;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 1.5rem;
}
mock-dialog > div[slot="dialog"] > button:hover {
    background-color: #056EB7;
    color: #FFFFFF;
}
mock-dialog > div[slot="dialog"].alert > button#confirm-btn {
    width: 100%;
    border-radius: 0 0 2rem 2rem;
}
mock-dialog > div[slot="dialog"].confirm > button {
    width: calc(-1px + 50%);
    border-left: 1px solid #FFFFFF;
}
mock-dialog > div[slot="dialog"].confirm > button#confirm-btn {
    width: 50%;
    border-radius: 0 0 0 2rem;
    border-left: none;
}
mock-dialog > div[slot="dialog"].confirm > button#cancel-btn {
    width: 50%;
    border-radius: 0 0 2rem 0;
    left: 50%;
}
social-group {
    width: 100%;
    padding: 1rem;
}
social-group > span[slot="title"] {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.6rem;
}
social-group > a.icon {
    width: 3rem;
    height: 3rem;
    line-height: 3.2rem;
    text-align: center;
    font-size: 3rem;
    margin-right: 1rem;
    color: #056EB7;
}
drag-upload {
    width: 400px;
    height: auto;
    margin-top: 7.7rem;
}
drag-upload > div[slot="preview"] {
    width: 398px;
    height: auto;
    margin-bottom: 10px;
}
drag-upload > div[slot="preview"] > img {
    max-width: 193px;
    max-height: 147px;
}
drag-upload > div[slot="preview"] > img:nth-child(2n) {
    margin: 3px 2px 0 2px;
}
drag-upload > div[slot="preview"] > img:nth-child(2n + 1) {
    margin: 3px 2px 0 2px;
}
drag-upload > div[slot="dragWindow"] {
    width: 398px;
    height: 298px;
    border: 2px dashed #CCCCCC;
}